{% extends 'search/base.html.twig' %}

{% block title %}Wyniki wyszukiwania{% endblock %}

{% block body %}

<div class="heading">
    <h1>Ulubione filmy i seriale</h1>
</div>

<div class="search-results-container">
    <main class="results-main">
        <div class="results-grid">
            {% for item in favorites %}
                <div class="result-card">
                    <button class="fav-btn" data-id="{{ item.id }}">★</button>

                    <a href="{{ path('item_detail', {'id': item.id}) }}">
                        <div class="poster-wrapper">
                            <img
                                src="{{ item.coverUrl ?: 'https://tvod.iat.pl/view/img/notfound_portrait.jpg' }}"
                                class="poster"
                                loading="lazy"
                                alt="{{ item.name }}"
                            >

                            <div class="streaming-icons">
                                <img src="https://fwcdn.pl/nph/867323/2025/63747.7.jpg">
                            </div>


                        </div>

                        <div class="info">
                            <h4 class="title">{{ item.name }}</h4>
                            <p class="meta">
                                {% if item.type == 1 %}
                                    Film
                                {% elseif item.type == 2 %}
                                    Serial
                                {% else %}
                                    Inne
                                {% endif %}
                                | {{ item.year }}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>


    </main>
</div>

{% block javascript %}
    <script src="{{ asset('js/favorites.js') }}"></script>
{% endblock %}

{% endblock %}
