{% extends "public/search/base.html.twig" %}

{% block title %}
    {{ item.name }}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/public/public_item.css') }}">
{% endblock %}


{% set STREAMING_DATA_BY_ID = {
    1: {
        name: "Netflix",
        logo: "https://images.ctfassets.net/4cd45et68cgf/Rx83JoRDMkYNlMC9MKzcB/2b14d5a59fc3937afd3f03191e19502d/Netflix-Symbol.png?w=700&h=456",
        link: "https://www.netflix.com"
    },
    2: {
        name: "HBO Max",
        logo: "https://fwcdn.pl/nph/867323/2025/63747.7.jpg",
        link: "https://www.hbomax.com"
    },
    3: {
        name: "Disney+",
        logo: "https://platform.theverge.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/25357066/Disney__Logo_March_2024.png?quality=90&strip=all&crop=7.8125%2C0%2C84.375%2C100&w=2400",
        link: "https://www.disneyplus.com"
    },
    4: {
        name: "Amazon Prime Video",
        logo: "https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Amazon_Prime_Video_logo_%282024%29.svg/1200px-Amazon_Prime_Video_logo_%282024%29.svg.png",
        link: "https://www.primevideo.com"
    },
    5: {
        name: "Apple TV+",
        logo: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs5Uv6cx7KcDlTFANEqZFj-HK0HlwpIu7Nhg&s",
        link: "https://tv.apple.com"
    },
    6: {
        name: "Hulu",
        logo: "https://store-images.s-microsoft.com/image/apps.60756.9007199266246590.a8642808-8fcd-48e6-805e-aede1f148787.c1baaaf0-7b9d-4e6e-9661-56452a1f7ddd",
        link: "https://www.hulu.com"
    }
} %}


{% block body %}
    <div id="main_content">
        <div id="leftColumn">
            <div class="bigPoster">
                <img src="{{ item.coverUrl ?: 'https://tvod.iat.pl/view/img/notfound_portrait.jpg' }}"
                     class="poster"
                     loading="lazy"
                     alt="{{ item.name }}">
            </div>

            <div id="itemTags">
                {% for tag in item.tags %}
                    <div class="tag">
                        {{ tag.tagName }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="middleColumn">
            <h1>{{ item.name }}</h1>
            <p>
                {{ item.type == 1 ? "Film" : "Serial" }}
                |
                {{ item.year }}
            </p><br>

            <h2>Reżyser</h2>
            <p> {{ item.director }} </p><br>

            <h2>Kategorie</h2>
            <p>
                {% for category in item.categories %}
                    {{ category.genre }}
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            </p><br>

            <h2>Opis</h2>
            <p id="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget lorem venenatis, accumsan odio ac, fermentum ligula. Phasellus pulvinar aliquet nisi, eget ultrices nunc laoreet id. Nullam finibus mi ultricies, euismod ligula gravida, tincidunt ante. Donec tempus metus et eros vehicula, sit amet dictum purus dictum. Duis porta bibendum velit consectetur elementum. Donec placerat turpis feugiat, faucibus odio tincidunt, aliquet enim. Proin nec diam dignissim, eleifend lacus non, molestie eros. Etiam ac massa tristique, semper elit eu, aliquet erat. Maecenas auctor felis justo, vitae dictum nibh suscipit ut. In id lacinia justo. Donec in molestie lectus. Vivamus eu lacus id eros cursus accumsan. Nullam nibh massa, aliquet id aliquet non, posuere sed enim. Sed augue justo, blandit a sem a, tempus sollicitudin mi. Phasellus non ante vel justo malesuada tempor id ultricies neque. </p><br>

            <button id="add-to-favorites" class="fav-btn" data-id="{{ item.id }}">Dodaj do ulubionych</button>

            <br><br>
            <h2 id="where-to-find">Gdzie obejrzeć</h2>
            <div id="streamingsContainer">
                {% for streaming in item.streamings %}
                <div class="streaming">
                    {% include 'components/streaming_logo.html.twig' with {
                        name: STREAMING_DATA_BY_ID[streaming.id].name,
                        logo: STREAMING_DATA_BY_ID[streaming.id].logo,
                        link: STREAMING_DATA_BY_ID[streaming.id].link
                    } %}
                </div>
                {% endfor %}
            </div>

            <div id="ratingSection">
                <h2>Komentarze</h2>

                {% for rating in item.ratings %}
                    <div class="rating">
                        <div id="score-container-small">
                            <span class="star-symbol-rating" >{% if 1 <= rating.rating %}&starf;{% else %}&star;{% endif %}</span>
                            <span class="star-symbol-rating" >{% if 2 <= rating.rating %}&starf;{% else %}&star;{% endif %}</span>
                            <span class="star-symbol-rating" >{% if 3 <= rating.rating %}&starf;{% else %}&star;{% endif %}</span>
                            <span class="star-symbol-rating" >{% if 4 <= rating.rating %}&starf;{% else %}&star;{% endif %}</span>
                            <span class="star-symbol-rating" >{% if 5 <= rating.rating %}&starf;{% else %}&star;{% endif %}</span>
                        </div>
                        <p>{{ rating.comment }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="rightColumn">
            <div class="block">
                <h2>Już obejrzane?</h2>
                <div id="itemScore">
                    <form id='rating-form' method="POST" action="{{ path('rating_add') }}">
                        <div id="score-container">
                            <span class="star-symbol" data-value="1">&star;</span>
                            <span class="star-symbol" data-value="2">&star;</span>
                            <span class="star-symbol" data-value="3">&star;</span>
                            <span class="star-symbol" data-value="4">&star;</span>
                            <span class="star-symbol" data-value="5">&star;</span>
                        </div>
                        <input type="hidden" id="scoreInput" name="rating" value="0">
                        <input type="hidden" id="itemId" name="itemId" value="{{ item.id }}">
                        <div id="submit-wrapper">
                            <input id="commentInput" type="text" name="comment" placeholder="comment...">
                            <button type="submit">Dodaj</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="block">
                <h2>Podobne:</h2>
                <div id="similarItemsContainer">
                    {% for similar in similars %}
                        <div class="result-card">
                            <button class="fav-btn" data-id="{{ similar.id }}">★</button>
                            <a href="{{ path('item_detail', {'id': similar.id}) }}">
                                <div class="poster-wrapper">
                                    <img src="{{ similar.coverUrl ?: 'https://tvod.iat.pl/view/img/notfound_portrait.jpg' }}"
                                         class="poster"
                                         loading="lazy"
                                         alt="{{ similar.name }}">
                                    <div class="streaming-icons">
                                        {% for streaming in similar.streamings %}
                                            {% set data = STREAMING_DATA_BY_ID[streaming.id] ?? null %}
                                            {% if data %}
                                                {% include 'components/streaming_logo.html.twig' with {
                                                    name: data.name,
                                                    logo: data.logo,
                                                    link: data.link
                                                } %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="info">
                                    <h4 class="title">{{ similar.name }}</h4>
                                    <p class="meta">
                                        {% if similar.type == 1 %}
                                            Film
                                        {% elseif similar.type == 2 %}
                                            Serial
                                        {% else %}
                                            Inne
                                        {% endif %}
                                        | {{ similar.year }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script src="{{ asset('js/favorites.js') }}"></script>
    <script>
        // Rating
        const ratingForm = document.querySelector('#rating-form');
        const stars = document.querySelectorAll('.star-symbol');
        const scoreInput = document.getElementById('scoreInput');

        ratingForm.addEventListener('submit', e => {
            e.preventDefault(); // prevent normal page reload

            const formData = new FormData(ratingForm);

            fetch(ratingForm.action, {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log(`${'Rating added'}: ID`, data.id);
                        window.location.reload();
                    } else {
                        alert('Something went wrong');
                    }
                })
                .catch(err => console.error(err));

            ratingForm.reset();
        });

        stars.forEach(star => {
            star.addEventListener('click', () => {
                console.log('hello');

                const value = star.dataset.value;

                // Save score
                scoreInput.value = value;

                // Update UI
                stars.forEach(s => {
                    if(s.dataset.value <= value)
                        s.innerHTML = '&starf;';
                    else
                        s.innerHTML = '&star;';
                });
            });
        });

        const addToFavPageBtn = document.getElementById("add-to-favorites");

        addToFavPageBtn.addEventListener('click', () => {
            const favorites = getFavorites();
            if (favorites.includes(addToFavPageBtn.dataset.id)) {
                addToFavPageBtn.innerHTML = "Usuń z ulubionych";
            }
            else {
                addToFavPageBtn.innerHTML = "Dodaj do ulubionych";
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
            const favorites = getFavorites();
            if (favorites.includes(addToFavPageBtn.dataset.id)) {
                addToFavPageBtn.innerHTML = "Usuń z ulubionych";
            }
        });

    </script>
{% endblock %}
