{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/admin.page.css') }}">
{% endblock %}

{% block body %}
<div id="main_content" style="width: 80%">
    <div class="heading">
        <h1>Seriale i filmy&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="addBtn">+</a></h1>
    </div>

    <input class="input-research" type="text" placeholder="Szukaj">

    <div id="table-wraper">
        <table class="admin-table" style="max-width: none">
            <thead>
            <tr>
                <th>Tytuł dzieła</th>
                <th>Rok produkcji</th>
                <th>Reżyser</th>
                <th>Aktorzy</th>
                <th>Kategorie</th>
                <th>Tagi</th>
                <th>Streamingi</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.year }}</td>
                    <td>{{ item.director }}</td>
                    <td>{{ item.actors }}</td>
                    <td>
                        {% for category in item.categories %}
                            {{ category.genre }}
                            {% if not loop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for tag in item.tags %}
                            {{ tag.tagName }}
                            {% if not loop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for streaming in item.streamings %}
                            {{ streaming.platformName }}
                            {% if not loop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="#" class="editItemBtn"
                           data-id="{{ item.id }}"
                           data-name="{{ item.name }}">
                            Edytuj
                        </a>
                        <span class="action-separator">|</span>
                        <a href="#"
                           class="deleteItemBtn"
                           data-id="{{ item.id }}">
                            Usuń
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


    {% include 'admin/modals/itemModal.html.twig' %}


    {% block script %}
        <script src="{{ asset('js/pills/pills.js') }}"></script>
    {% endblock %}


<script>
    // Modal
    const modal = document.getElementById('modal');
    const closeBtn = document.querySelector('.modal-close-btn');
    const addBtn = document.getElementById('addBtn');
    const form = document.getElementById('form');
    // const title = document.getElementById('modalTitle');
    const searchBar = document.querySelector('.input-research');
    const itemContainer = document.getElementById('items');

    let isEdit = false;  // track mode
    let editId = null;   // store editing item ID

    form.addEventListener('submit', e => {
        e.preventDefault(); // prevent normal page reload

        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log(`${isEdit ? 'Item updated' : 'Item added'}: ID`, data.id);
                    window.location.reload();
                } else {
                    alert('Something went wrong');
                }
            })
            .catch(err => console.error(err));
    });

    addBtn.onclick = () => {
        document.querySelectorAll('.pill').forEach(pill => pill.classList.remove('active'));
        isEdit = false;
        editId = null;
        modal.style.display = "block";
        form.reset();
        // title.innerHTML = "Dodaj Film/Serial";
        form.action = "{{ path('admin_item_add') }}";
    };

    document.querySelectorAll('.editItemBtn').forEach( btn => {
        btn.onclick = () => {
            isEdit = true;
            editId = btn.dataset.id;

            fetch(`/admin/item/${editId}`)
                .then(res => res.json())
                .then(item => {
                    modal.style.display = "block";
                    form.reset();

                    // title.innerHTML = "Edytuj Film/Serial";

                    form.action = "{{ path('admin_item_edit', {'id': 'IDPLACEHOLDER'}) }}".replace('IDPLACEHOLDER', editId);

                    // Fill form fields
                    document.getElementById('nameInput').value = item.name || '';
                    document.getElementById('yearInput').value = item.year || '';
                    document.getElementById('directorInput').value = item.director || '';
                    document.getElementById('actorsInput').value = item.actors || '';
                    document.getElementById('typeInput').value = item.type || '';
                    document.getElementById('durationInput').value = item.duration || '';
                    document.getElementById('seasonInput').value = item.season || '';

                    document.querySelectorAll('.pill').forEach(pill => pill.classList.remove('active'));

                    item.tags.forEach(Id => {
                        const pill = document.querySelector(`#tagsPills .pill[data-value="${Id}"]`);
                        if (pill) pill.classList.add('active');
                    });

                    item.categories.forEach(Id => {
                        const pill = document.querySelector(`#categoriesPills .pill[data-value="${Id}"]`);
                        if (pill) pill.classList.add('active');
                    });

                    item.streamings.forEach(Id => {
                        const pill = document.querySelector(`#streamingsPills .pill[data-value="${Id}"]`);
                        if (pill) pill.classList.add('active');
                    });


                    const selectedT = [...document.querySelectorAll('#tagsPills .pill.active')]
                        .map(p => p.dataset.value);
                    document.getElementById('tagsInput').value = selectedT.join(',');

                    const selectedC = [...document.querySelectorAll('#categoriesPills .pill.active')]
                        .map(p => p.dataset.value);
                    document.getElementById('categoriesInput').value = selectedC.join(',');

                    const selectedS = [...document.querySelectorAll('#streamingsPills .pill.active')]
                        .map(p => p.dataset.value);
                    document.getElementById('streamingsInput').value = selectedS.join(',');
                })
                .catch(err => console.error('Fetch error:', err));
        };
    });

    document.querySelectorAll('.deleteItemBtn').forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();

            if (!confirm('Na pewno chcesz usunąć ten film/serial?')) return;

            let id = this.dataset.id;
            console.log(id);

            let form = document.createElement('form');
            form.method = 'POST';
            form.action = "{{ path('admin_item_delete', {'id': 'IDPLACEHOLDER'}) }}".replace('IDPLACEHOLDER', id);
            document.body.appendChild(form);

            form.submit();
        });
    });



    closeBtn.onclick = () => modal.style.display = "none";
    window.onclick = (e) => {
        if (e.target === modal) modal.style.display = 'none';
    };

    searchBar.onkeydown = (e) => {
        if (e.key === 'Enter') {
            const query = searchBar.value;

            if(query !== '') {
                let searchUrl = '/admin/items';
                searchUrl = searchUrl + '?name=' + query;

                window.location.href = searchUrl;
            }
            else
                window.location.href = '/admin/items';
        }
    };
</script>

{% endblock %}
