{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/admin.page.css') }}">
{% endblock %}

{% block body %}
<div id="main_content">
    <div class="categories-heading">
        <h1>Platformy streamingowe&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="addBtn">+</a></h1>
    </div>

    <input class="input-research" type="text" placeholder="Szukaj">

    <div id="table-wraper">
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Nazwa platformy</th>
                    <th>Liczba powiązanych dzieł</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for s in streamings %}
                    <tr>
                        <td>{{ s.platform_name }}</td>
                        <td>{{ s.item_count }}</td>
                        <td>
                            <a href="#" class="editStreamingBtn"
                               data-id="{{ s.streaming_ID }}"
                               data-name="{{ s.platform_name }}">
                               Edytuj
                            </a>
                            <span class="action-separator">|</span>
                            <a href="#"
                                class="deleteStreamingLink"
                                data-id="{{ s.streaming_ID }}">
                                Usuń
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    {% include 'admin/modals/commonModal.html.twig' with {
        modal_type: 'streamingModal',
        modal_title: 'Nazwa Platformy',
        name_field: 'platform_name',
        form_action: path("admin_streaming_add"),
    }%}

{% block script %}
    <script src="{{ asset('js/admin/admin.streamingsModal.js') }}"></script>
{% endblock %}

{% endblock %}
