{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/admin.page.css') }}">
{% endblock %}

{% block body %}

<div id="main_content">
    <div class="heading">
        <h1>Tagi&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="addBtn">+</a></h1>
    </div>

    <input class="input-research" type="text" placeholder="Szukaj">

    <div id="table-wraper">
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Nazwa tagu</th>
                    <th>Liczba powiązanych dzieł</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tags %}
                    <tr>
                        <td>{{ t.name }}</td>
                        <td>{{ t.item_count }}</td>
                        <td>
                            <a href="#" class="editTagBtn"
                               data-id="{{ t.tag_ID }}"
                               data-name="{{ t.name }}">
                               Edytuj
                            </a>
                            <span class="action-separator">|</span>
                            <a href="#"
                                class="deleteTagLink"
                                data-id="{{ t.tag_ID }}">
                                Usuń
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% include 'admin/commonModal.html.twig' with {
    modal_type: 'tagModal',
    modal_title: 'Dodaj tag',
    name_field: 'name',
    form_action: path('admin_tag_add'),
}%}

    {% block script %}
        <script src="{{ asset('js/admin/admin.tagsModal.js') }}"></script>
    {% endblock %}

{% endblock %}
